<section class="bg-primary" id="about">
    <div class="container">
        <div class="row">
            <div class="col-lg-8 col-lg-offset-2 text-center">
                <h2 class="section-heading">Creamos cosas que nos resultan útiles.</h2>
                <hr class="light">
                <p class="text-faded">Todos nuestros diseños y servicios están pensados para que nos resulten útiles a nosotros mismos. Pero estamos encantados de escuchar sugerencias, y tambien dispuestos a construirlas si resuelven tus necesidades. Las crearemos a medida para ti sin ningún coste, siempre y cuando aceptes que el resto de nuestros usuarios las puedan usar, también sin coste.</p>
                <a href="#" class="btn btn-default btn-xl">Mandanos tu idea "Open Source"...</a>
            </div>
        </div>
    </div>
</section>
