<section id="contact">
    <div class="container">
        <div class="row">
            <div class="col-lg-8 col-lg-offset-2 text-center">
                <h2 class="section-heading">Ponte en contacto con nosotros:</h2>
                <hr class="primary">
                <p>¿Quieres que te ayudemos con tu siguiente proyecto?. Mándanos un email y te responderemos en cuanto tengamos un momento. Te lo prometemos :)</p>
            </div>
        </div>
    </div>

    <div class="container">
        <div class="row no-gutter">


 


            <div class="col-lg-1 col-sm-1 text-center">
            <a href="https://linkedin.com/in/{{ site.linkedin_username }}">
            <i class="fa fa-linkedin fa-lg wow bounceIn" data-wow-delay=".1s"></i>
            </a>
            </div>            

            <div class="col-lg-1 col-sm-1 text-center">
            <a href="mailto:{{ site.email }}">
            <i class="fa fa-envelope-o fa-lg wow bounceIn" data-wow-delay=".1s"></i>
            </a>
            </div>

            <div class="col-lg-1 col-sm-1 text-center">
            <a href="https://github.com/{{ site.github_username }}">
            <i class="fa fa-github fa-lg wow bounceIn" data-wow-delay=".1s"></i>
            </a>
            </div>

            <div class="col-lg-1 col-sm-1 text-center">
            <a href="https://facebook.com/{{ site.facebook_username }}">
            <i class="fa fa-facebook fa-lg wow bounceIn" data-wow-delay=".1s"></i>
            </a>
            </div>

            <div class="col-lg-1 col-sm-1 text-center">
            <a href="https://instagram.com/{{ site.instagram_username }}">
            <i class="fa fa-instagram fa-lg wow bounceIn" data-wow-delay=".1s"></i>
            </a>
            </div>

            <div class="col-lg-1 col-sm-1 text-center">
            <a href="https://twitter.com/{{ site.twitter_username }}">
            <i class="fa fa-twitter fa-lg wow bounceIn" data-wow-delay=".1s"></i>              
            </a>
            </div>
            





        </div>

         
    </div>


</section>
