<header>
    <div class="header-content">
        <div class="header-content-inner">
            <h1>AI powered efficiency</h1>
            <hr>
            <p>En inUtil hacemos pequeñas cosas que cambian tu mundo. Nos apasiona demostrar cómo la tecnología, bien utilizada, puede hacer que seamos más eficientes y libres.<br>
            Y todo lo hacemos porque sabemos, o porque nos gusta aprender cómo se hace. </p>
            <a href="#about" class="btn btn-primary btn-xl page-scroll">Saber más</a>
        </div>
    </div>
</header>
